<!DOCTYPE html>
<html>
<head>
	<title>Password Reset Page</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/signup_page.css') }}">
</head>
<body>
	<div class="password-reset-box">
		<h2>Password Reset</h2>
		<form method = 'POST' action = '/'>
			<div class="user-box">
				<input type="email" name="email" required="">
				<label>Email</label>
			</div>
			<input type="button" name="" value="Send OTP">
			<div class="user-box">
				<input type="number" name="otp" required="">
				<label>Enter OTP</label>
			</div>
			<input type="button" name="" value="Validate">
			<div class="user-box">
				<input type="password" name="new_password" required="">
				<label>New Password</label>
			</div>
			<div class="user-box">
				<input type="password" name="re_enter_password" required="">
				<label>Re-enter New Password</label>
			</div>
			<input type="button" name="" value="Change Password">
		</form>
	</div>
</body>
</html>
